
	/*font-family: 'Kaushan Script', cursive;*/
	/*font-family: 'Acme', sans-serif;*/
/* Common items */
body {
    background-image: url(../images/DC.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Kaushan Script', cursive; 
    /*box-sizing: border-box;*/
}
/*navigation*/
nav {
	position: relative;
	height: 10%;
	padding: 1em;

}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}
nav a {
	text-decoration: none;
	color: #fff;
}

/* Starter page */
.start {
	background-color: #f5e5cd;
	box-shadow: 10px 10px 5px #888888;
	padding-top: .01em;
	margin: 15em 22em;
	width: 30em;
	height: 10em;
	text-align: center;
	position: fixed;
	display: none;

}

h1, h3, button {
	text-align: center;
	font-family: 'Acme', sans-serif;
}
.start button {
	background-color: #e2d8c5;
	color: #182B5C;
	padding: .1em;
	margin-top: -.5em;
	font-weight: 700;
	height: 2em;
	width: 5em;
	border: none;
	box-shadow: 8px 8px 5px #424f87;
}
button, .howTo .fa:hover {
	cursor: pointer;
}
/* How to */
.howTo, .questions {
	background-color: #f5e5cd;
	box-shadow: 10px 10px 5px #888888;
	margin-top: 3em;
	margin-left: 5em;
	padding: 1em;
	height: 35em;
	width: 60em;
	display: none;

}

.howTo {
z-index: 999;
position: fixed;
}

.howTo h3, .questions h3 {
		font-size: 2em;
}
.howTo .fa-times{
	margin-top: -.1em;
	margin-bottom: -1em;
	float: right;
}
.howTo img, .questions img {
	margin-top: -3em;
	height: 30em;
	float: left;
}
.HTinside, .Qinside {
	float: right;
	width: 20em;
	line-height: 2em;
}

.title {
	margin-right: 1em;
}
.textName{
	background-color: #F5E5CD;
	border: .1em solid #424f87;
	box-shadow: 8px 8px 5px #424f87;
	text-align: center;
}
.highlighted {
	border: .1em solid #424f87;
	box-shadow: 8px 8px 5px #424f87;
}
img.logo {
	height: 5em;
	margin-left: 55em;
	clear: both;
}
div.submit {
	height: 6em;
	width: 8em;
	padding-top: 1em;
	margin-top: 10em;
	margin-left: 25em;
	line-height: .5em;
	text-align: center;
	font-family: 'Acme', sans-serif;

}
div.submit button {
	background-color: #e2d8c5;
	color: #182B5C;
	font-weight: 700;
	height: 2em;
	width: 5em;
	border: none;
	box-shadow: 5px 5px 3px #424f87;
	
}
div.submit p {
	font-size: .8em;
}

.popup {
	font-family: 'Acme', sans-serif;
	height: 5em;
	width: 20em;
	background-color: #fff;
	position: fixed;
	margin-top: -2em;
	margin-left: 0;
	padding-left: .5em;
	padding-right: .5em;
}

.popup .ifa {
	margin-left: 17em;
	margin-top: -1.5em;

	
}

.popup .ifa2 {
	margin-left: 15.5em;
	margin-top: -2.25em;
	display: none;
}


/* Question page */
/* Correct page */
/* Incorrect page */


